.friend-list {
    margin-top: 20px;
    color: @white;
    .friend-card {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 50%;
        background-color: @dark*1.5;
        border-bottom: 1px solid @black;
        padding: 10px 0;
        .box-shadow(0;2px;3px;1px;@dark);
        .friend-name {
            font-size: 1.8rem;
            .friend-age {
                font-size: 1rem;
                font-style: italic;
            }
        }
        .friend-data {
            font-size: 1.2rem;
            width: 100%;
            a {
                color: @primary;
            }
        }
        .friend-buttons {
            font-size: 2rem;
            color: @green;
            margin: 10px 10px 0 0;
            svg {
                margin: 0 10px;
            }
        }
    }
}